body {
  text-align: center;
  background-image: url(assets/lotus2.jpeg);
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: center;
  background-origin: inherit;

}

/* regidter.hbs : */
.h1register {
  font-size: 60px;
  position:  relative ;
  left: 20px;
  color: #2d2d86;
}
.h3register {
  font-size: 30px;
  position:  relative ;
  left: 20px;
}
.h4register {
  font-size: 30px;
  position:  relative ;
  left: 20px;
}
.para {
  font-size: 15px;
}
.ul {
  font-size: 15px;
}
.lotusInfo {
  text-align: left;
}
.sign {
  text-align: center;
  float: right;
  position:absolute; left:1000px; top: 100px;
}
input {
  font-size: 20px;
}
label {
  font-size: 25px;
}
.registerbtn {
  font-size: 20px;
}
.para2 {
  font-size: 20px;
}
.signlink {
  font-size: 20px;
}
.registration {
  font-size: 30px;
  color: #2d2d86;
}
.lotusImg {
  width: 260px;
  height: 120px;
  position:  relative ;
  left: 20px;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
  border-color: #2d2d86;
}
/* login.hbs : */
.h1login{
  font-size: 50px;
  color: #2d2d86;
}
/* message.hbs */
.h1message {
  font-size: 45px;
}
.paraMessage {
  font-size: 35px;
  color: #2d2d86;
}
.btnMessage{
  width: 90px;
  height: 40px;
  border-color: #2d2d86;
  font-size: 20px;
}
/* home.hbs */
.h1home {
  font-size: 50px;
  color: #2d2d86;
}
.h2home {
  font-size: 40px;
}
.parahome  {
  font-size: 25px;
  text-align: left;

}
li {
  font-size:25px;
  text-align: left;

}
.h4home {
  font-size: 40px;
  color: #2d2d86;
}
.btnHome {
  width: 200px;
  height: 40px;
  font-size: 20px;
}
.processImg {
  border-style: solid;
  border-width: 2px;
  border-color: #2d2d86;
}
.h3home {
  font-size: 30px;
  color: #2d2d86;

}
.founders {
  text-align: right;
  display:  inline-table;
  margin: 50px 90% 24px 60%;

}
.developers {
  text-align: right;
  display:  inline-table;
  margin: 50px 55% 24px 25%;
  position: relative;
  top: -240px;
  margin-top:-5px;
  margin-bottom:-250px;
}
.h3title {
margin: 30px 40% 30px 10%;
display:  inline;
font-size: 30px;
color: #2d2d86;
}
 .girlsImg {
   width: 250px;
   height: 220px;
   border-style: solid;
   border-width: 2px;
   border-color: #2d2d86;
   text-align: right;
   display:  inline-table;
   margin: 50px 90% 24px 78%;
   position:absolute; left:0px; top: 340px;
 }
/* details.hbs */
.h1details {
  font-size: 40px;
  color: #2d2d86;
}
.h2details {
  font-size: 25px;
}
.sendBtn {
  width: 100px;
  height: 40px;
  font-size: 20px;
}

@media screen and (max-width: 650px) {
  body {
    font-size: 45px;
    text-align: center;
 }
