<form action="/details" method="POST">
  <div class="container">
    <h1 class="h1details">Employee Details</h1>
    <h2 class="h2details">Please Enter Your Information!</h2>
  <br><br>
    <label id="firstName" for="firstN"><b>First name: </b></label>
    <input type="text" placeholder="Enter first name" name="firstName" required>

<br><br>
    <label id="lastName" for="lastN"><b>Last name: </b></label>
    <input type="text" placeholder="Enter last name" name="lastName" required>
<br><br>
    <label id="age" for="age"><b>Age: </b></label>
    <input type="age" placeholder="Enter youre age" name="age" required>
<br><br>
    <label id="gender" for="gender"><b>Gender: </b></label>
    <input type="gender" placeholder="male / female" name="gender" required>
<br><br>

    <label id="email" for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <hr>

    <button type="submit" id="sendBtn" class="sendBtn">Send</button>
  </div>

</form>
