<form action="action_page.php">
  <div class="container">
    <h1>Employee Details</h1>
    <h2>Please Enter Youre Information!</h2>
  <br>
    <label for="firstN"><b>First name: </b></label>
    <input type="text" placeholder="Enter first name" name="firstName" required>

<br>
    <label for="lastN"><b>Last name: </b></label>
    <input type="text" placeholder="Enter last name" name="lastName" required>
<br>
    <label for="age"><b>Age: </b></label>
    <input type="age" placeholder="Enter youre age" name="age" required>
<br>
    <label for="gender"><b>Gender: </b></label>
    <input type="gender" placeholder="male/female" name="gender" required>
<br>
    <label for="hLeraning"><b>High-learning: </b></label>
    <input type="hLearning" placeholder="High-Learning" name="hLeraning" required>

    <p>Do you have a high school deploma?
      <button type="button" name="button">YES</button>
        <button type="button" name="button">NO</button>
</p>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <hr>

    <button type="submit" class="registerbtn">Send</button>
  </div>

</form>
