<h1 class="h1home">Lotus Software</h1>
<form action="/logout" method="POST">
  <button id="logoutBtn" type="submit" class="registerbtn" formaction="/logout">Log Out</button>
</form>

<h2 class="h2home">Lotus Software- women's space for Hi-tech training and employment</h2>
<p class="parahome">Lotus is an NGO aims at providing women from closed communities the platform needed to pave their way to a meaningful and sustainable career.  Lotus strives to bridge the gap between traditional and employers' needs,

 and to create a firm but the flexible model for women's integration and success as Hi-tech workers. Lotus' first initiative is to address addressed to about 200 young orthodox Druze women live in the Israeli periphery who:
<ul class="ulhome">
<li>Graduated (mostly with excellence) from science tracks in the Israeli education system</li>

<li>Speak fluent Hebrew</li>

<li>Are not allowed, due to tradition and religious practice, to drive or to work outside of the<br> village boundaries</li>

<li>Are highly ambitious, devoted and capable, eager to further their education and work in <br> high-demanding hi-tech sector jobs in Israel</li>
</p>
<img src="/assets/girls.jpeg"  class="computersImg">
</ul>
<div class="founders">
<h3 class="h3title">Lotus Founders: <br></h3>
<p class="parahome"> <ol><li>Maisa Alsheekh <br> maysa226@gmail.com/0522906961</li><li>Mais Mansour <br> mayssy@gmail.com/0543532142</li></ol> </p>
</div>
<div class="developers">
<h3 class="h3home">Lotus Developers: </h3>
<ol class="ol">
<li>Ahlam Kadoor</li>
<li>Enass Kamal</li>
<li>Aman Abu-Roken</li>
<li>Sahar Saker</li>
<li>Loreen Hamdan</li>
<li>Hoda Mansour</li>
<li>Sara Saeed</li>
<li>Noor Bohsas</li>
<li>Yasmin Badreiha</li>
<li>Nareman Forro</li>
<li>Maha Forro</li>
</ol>
</div>
<p class="parahome">The end goal of this initiative is to create a first generation of Druze orthodox women, who will break the glass ceiling and get attractive jobs in hi-tech leading firms. This goal will be accomplished only if the traditional will be kept: working in a "safe zone" of women only, inside the village.
To achieve  our goal, The Portland Trust,  Lotus and Kav-Mashve established a yearlong process, in which women with a high potential to succeed in Hi-tech positions are allocated, participate in a general work skills training of 4 month; participate in a coding pre course of one month- and only then, start a formal Full stack Web Development training program (operated by Kav-Mashve, an entity authorized by the Israel Innovation Authority, with 640 hours of professional coding classes in English, job interview training and additional “soft” skills training). Already during the course, the participants are referred for interviews in partner leading Hi-tech firms. After the completion of the course, the women are hired by the firms and physically work in the Lotus local center in Isfiya. The process: </p>
<img src="/assets/process.jpeg" class="processImg">

<p class="parahome"> Besides being a legitimate workspace for these women, Lotus local center will provide full time professional mentors for the new employees (experienced dev team leads)- available for them during their entire work day. This is, of course in addition to the social personal support needed to succeed as a new Hi tech workers (which will be provided by Lotus team).
As the purpose of this program is job integration- we welcome potential future employers to join us on shaping it to be as relevant as possible for employers' needs. It is important to mention, that we already see the business benefit of this program for the future employers (in terms of low employers' costs - even compared to employing equivalent positions in India), which stands alongside the clear social value and mission.
Timeline: program 1st cycle will end on July 25th 2019.</p>

<h4 class="h4home">If you want to be a developer in Lotus company</h4>

<form>
  <button type="submit" name="button" class="btnHome" id="detailsBtn" formaction="/details">Send us your details</button>
</form>
