

<h1>Lotus Software</h1>
<h2>Lotus Software- women's space for Hi-tech training and employment</h2>
<p>Lotus is an NGO aims at providing women from closed communities the platform needed to pave their way to a meaningful and sustainable career.  Lotus strives to bridge the gap between traditional and employers' needs,

 and to create a firm but the flexible model for women's integration and success as Hi-tech workers. Lotus' first initiative is to address addressed to about 200 young orthodox Druze women live in the Israeli periphery who:
<ul>
<li>Graduated (mostly with excellence) from science tracks in the Israeli education system</li>

<li>Speak fluent Hebrew</li>

<li>Are not allowed, due to tradition and religious practice, to drive or to work outside of the village boundaries</li>

<li>Are highly ambitious, devoted and capable, eager to further their education and work in high-demanding hi-tech sector jobs in Israel</li>
</p>
</ul>
<h3>Lotus Founders: </h3>
<p>Maisa Alsheekh & Mais Mansour</p>
<h3>Lotus Developers: </h3>
<ol>
<li>Ahlam Kadoor</li>
<li>Enass Kamal</li>
<li>Aman Abu-Roken</li>
<li>Sahar Saker</li>
<li>Loreen Hamdan</li>
<li>Hoda Mansour</li>
<li>Sara Saeed</li>
<li>Noor Bohsas</li>
<li>Yasmin Badreiha</li>
<li>Nareman Forro</li>
<li>Maha Forro</li>
</ol>

<h4>If you want to be a developer in Lotus company</h4>

<form>
  <button type="submit" name="button" formaction="/details">Send us your details</button>
</form>
