  <form action="/login" method="POST">
    <div class="container">
       <h1 class="h1login">Log In</h1>
       <br>
      <label for="username"><b>Username</b></label>
      <input id="loginUser" type="text" placeholder="Enter Your Username" name="username" required>
<br><br><br>
      <label for="psw"><b>Password</b></label>
      <input id="loginPsw" type="password" placeholder="Enter Password" name="psw" required>
<br><br><br>
      <button id="loginbtn" type="submit" class="registerbtn" formaction="/login">Log In</button>
    </div>
  </form>
