<form action="/register" method="POST">
  <div class="container">

     <h1 class="h1message">Registration completed <br> successfully</h1>
     <p class="paraMessage">Hello {{this.username}}!</p>

     <h1>Registration completed successfully</h1>

     <a class="btnMessage" href="./login">Login</a>
  </div>
</form>
