<form action="/register" method="GET">
  <div class="container">
     <h1 class="h1message">Registration Completed <br> successfully</h1>
    <button  class="btnMessage" type="submit" formaction="/login">Log In</button>
  </div>
</form>
