<form action="/register" method="GET">
  <div class="container">
     <h1 class="h1message">Registration completed <br> successfully</h1>
     <p class="paraMessage">Hello {{username}}</p>
    <button  class="btnMessage" type="submit" formaction="/login">Log In</button>
  </div>
</form>
