  <div class="lotusInfo">
    <h1 class="h1register">Lotus Software</h1>
    <h3 class="h3register">A women's space for Hi-tech <br> training and employment !</h3>
    <h4 class="h4register">Training Druze traditional <br> women for successful <br> integration into the  <br> hi-tech sector.. <h4>
<img class="lotusImg" src="/assets/home-background.jpeg">
</div>
<form action="/register" method="POST">

        <div class="sign">
          <h1 class="registration">Registration</h1>
    <label for="username"><b>Username</b></label><br>
    <input id="username" type="text" placeholder="Enter your Username" name="username" required>
<br>
    <label for="email"><b>Email</b></label><br>
    <input id="email" type="text" placeholder="Enter Email" name="email" required>
<br>
    <label for="psw"><b>Password</b></label><br>
    <input id="password" type="password" placeholder="Enter Password" name="password" required>
<br>
    <label for="confirm-psw"><b>Confirm Password</b></label><br>
    <input id="confirmPsw" type="password" placeholder="Confirm Password" name="confirmPsw" required>
<br><br>
      <button type="submit" id="registerbtn" class="registerbtn" formaction="/register">Sign up</button>

      <p class="para2">Already have an account?</p>
      <a class="signlink" href="./login">Sign in</a>
    </div>
  </form>
