  <div class="lotusInfo">
    <h1 class="h1register">Lotus Software</h1>
    <h3 class="h3register">A women's space for Hi-tech <br> training and employment !</h3>
    <h4 class="h4register">Training Druze traditional <br> women for successful <br> integration into the  <br> hi-tech sector.. <h4>
<!-- <img class="lotusImg" src="/assets/home-background.jpeg"> -->
      <!-- <p class="para">Lotus is an NGO, aims at providing women from closed communities the platform needed to pave their way to a meaningful and sustainable career.  Lotus strives to bridge the gap between traditional and employers' needs, and to create a firm but flexible model for women's integration and success as Hi-tech workers. Lotus' first initiative is to address addressed to about 200 young orthodox Druze women live in the Israeli periphery who:
        <ul class="ul">
    <li class="li">Graduated (mostly with excellence) from science tracks in the Israeli education system</li>
    <li class="li">Speak fluent Hebrew</li>
    <li class="li">Are not allowed, due to tradition and religious practice, to drive or to work outside of the village boundaries</li>
    <li class="li"> Are highly ambitious, devoted and capable, eager to further their education and work in high-demanding hi-tech sector jobs in Israel </li>
      <ul>
        </div> -->
</div>
<form action="/register" method="POST">

        <div class="sign">
          <h1 class="registration">Registration</h1>
    <label for="username"><b>Username</b></label><br>
    <input id="username" type="text" placeholder="Enter your Username" name="username" required>
<br>
    <label for="email"><b>Email</b></label><br>
    <input id="email" type="text" placeholder="Enter Email" name="email" required>
<br>
    <label for="psw"><b>Password</b></label><br>
    <input id="password" type="password" placeholder="Enter Password" name="password" required>
<br>
    <label for="confirm-psw"><b>Confirm Password</b></label><br>
    <input id="confirmPsw" type="password" placeholder="Confirm Password" name="confirmPsw" required>
<br><br>
      <button type="submit" class="registerbtn" formaction="/register">Sign up</button>

      <p class="para2">Already have an account?</p>
      <a class="signlink" href="./login">Sign in</a>
    </div>
  </form>
